
* {
    border: 0.1px;
    border-style:solid;
    border-color: red;
}

body {
    margin: 0px;
    font-family: Helvetica, Arial, sans-serif;
}

/* Page's Header section styling*/

header section {
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 5px;
}

section, .header-logo,.header-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page-header {
    background-color: #1F2937;
}

section .header-links {
    display: flex;
    justify-content: space-between;
    width: 350px
}

section .header-links a {
    color: #E5E7EB;
    font-size: 18px;
}

.header-logo .logo-image{
    width: 125px;
    height: auto;
}



/* Page's intro section styling*/

.page-intro {
    display: flex;
    color: #E5E7EB;
    background-color: #1F2937;
}

.intro-div {
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin-top: 100px;
    margin-bottom: 100px;
}

.intro-div .intro-text {
    display: flex;
    flex-direction: column;
    padding-right: 120px;
}

.intro-div button {
    color: #E5E7EB;
    width: 100px;
    height: 25px;
    background-color: #3882f6;
    border-radius: 4px;
}

.intro-image img{
    margin-right: 150px;
    width: auto;
    height: 200px;
}

.intro-heading {
    font-size: 48px;
    font-weight: 900;
    padding-bottom: 15px;
}

.intro-subtext {
    font-size: 18px;
    padding-bottom: 15px;
}

.page-intro .intro-heading,.intro-subtext,button {
    margin-left: 150px;
}



/* Page's Information section styling*/

.page-information {
    display: flex;
    justify-content: center;
    
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 100px;
    margin-bottom: 100px;
    
}

.information-heading {
    display: flex;
    align-items: center;
    justify-content: center;

    color: #1F2937;
}

.information-memorable div {
    display: inline-flex;
    flex-direction: column;
    align-items: center;

    color: #1F2937;
}

.information-heading div {
    font-size: 36px;
    font-weight:bolder;
}

.page-container .information-images {
    display: flex;
    justify-content: space-between;
}

.information-images div {
    width: 240px;
    height: 240px;

    border: 5px;
    border-color:#3882f6;
    border-style:solid;
    border-radius: 20px;

    margin-right: 50px;
    margin-top: 50px;
}

.information-images .information-img_4 {
    margin-right: 0px;
}

.information-memorable {
    display: flex;
    justify-content: space-between;
}

.information-memorable div {
    width: 80px;
    height: 80px;
}


/* Page's Quote Section styling */

.page-quote {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
}

.quote-container {
    display: flex;
    flex-direction: column;

    margin-top: 100px;
    margin-bottom: 100px;
}

.quote-container .quote-quote {
    font-size: 36px;
    font-weight:lighter;
    color: #1F2937;

    margin-top: 15px;
    margin-bottom: 15px;
}

.quote-container .quote-author {
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
}





/* Page's Footer section styling*/

.page-footer {
    display: flex;
    justify-content: center;
    
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 150px;
    margin-right: 150px;

    background-color: #3882f6;
    border-radius: 10px;

}

.footer-container {
    margin-left: 150px;
    margin-right: 150px;
}

.footer-info {
    color: #F9FAF8;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 35px;
    padding-bottom: 35px;
}